@use '../../../../public/assets/styles/' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 96px;
  box-shadow: 0 4px 4px 0 #0000001a;

  &__title {
    font-size: $font-medium;
    color: $text-normal;
  }

  &__nav {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 16px;

    &--help {
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--avatar {
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $btn-icon;
      border-radius: 50%;
      font-size: 24px;
      font-weight: 700;
      color: $text-lightblue;

      &:hover {
        background-color: $avatar-hover;
      }
    }
  }
}
