@use '../../../../public/assets/styles/' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 96px;
  box-shadow: 0 4px 4px 0 #0000001a;
  position: relative;
  z-index: 1;

  @include mobile {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    padding: 20px 16px;
  }

  &__logo {
    @include desktop(769px) {
      display: none;
    }
  }

  &__title {
    font-size: $font-medium;
    color: $text-normal;

    @include mobile {
      display: none;
    }
  }

  &__nav {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 16px;

    &--help {
      width: 22px;
      height: 22px;
      @include flex-center;

      @include mobile {
        display: none;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &--avatar {
      width: 56px;
      height: 56px;
      @include flex-center;
      border: 3px solid $btn-icon;
      border-radius: 50%;
      font-size: $font-medium;
      font-weight: 700;
      color: $text-lightblue;

      @include mobile {
        width: 40px;
        height: 40px;
        border: 2px solid $btn-icon;
      }

      &:hover {
        background-color: $avatar-hover;
      }
    }
  }

  &__menu {
    width: 150px;
    height: auto;
    background-color: $sidebar-main-theme;
    border-radius: 20px 0 20px 20px;
    padding: 10px;
    position: absolute;
    top: 96px;
    right: 20px;
    box-shadow: 0 0 4px 0 #00000066;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: opacity 0.2s ease;
    visibility: 0.2s ease;
    transition: 0.2s ease;

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    @include mobile {
      top: 60px;
      right: 10px;
      transform: translateY(0);
      transform: translateX(100%);

      &--open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }

    ul {
      li {
        width: 100%;
        height: 46px;
        @include flex-start;
        padding-left: 16px;
        cursor: pointer;

        a {
          color: $text-muted;
        }

        &:hover {
          background-color: $sidebar-bg-hover;
        }
      }

      .help-mobile {
        display: none;

        @include mobile {
          display: unset;
          width: 100%;
          height: 46px;
          @include flex-start;
          padding-left: 16px;
          cursor: pointer;
        }
      }
    }
  }
}
