@use '../../../../public/assets/styles' as *;

.main-page {
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-template-rows: 96px 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar pages';
  height: 100dvh;

  @include mobile {
    display: block; //in mobile kein grid mehr -> Komponenten fixed angeordnet
  }
}

app-sidebar {
  grid-area: sidebar;
}

app-header {
  grid-area: header;
}

.pages {
  grid-area: pages;
  overflow-y: auto;

  // top und bottom sind Asbtand zu Header/Footer
  @include mobile {
    width: 100%;
    position: fixed;
    top: 80px;
    bottom: 80px;
  }
}

.dialog {
  position: fixed;
  transform: translateX(100vw);
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
}
