@use '../../styles';

// BUTTONS DEFAULT
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active {
    box-shadow: styles.$btn-shadow;
  }
}

// BUTTONS SIZES
.btn-small {
  font-size: styles.$font-default;
  padding: 16px 24px;
  border-radius: 8px;
}

.btn-medium {
  font-size: styles.$font-medium;
  padding: 12px 16px;
  border-radius: 10px;
}

// BUTTONS COLORS
.btn-primary {
  background-color: styles.$btn-primary-default;
  color: styles.$btn-primary-txt;

  &:hover {
    background-color: styles.$btn-primary-hover;
  }

  &:active {
    background-color: styles.$btn-primary-active;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid styles.$btn-secondary-default;

  &:hover {
    border: 2px solid styles.$btn-secondary-hover;
    color: styles.$btn-secondary-hover;
  }

  &:active {
    border: 1px solid styles.$btn-secondary-active;
    color: styles.$btn-secondary-active;
  }
}

.btn-add {
  background-color: styles.$btn-add-default;
  color: styles.$btn-add-txt;
  gap: 16px;

  &:hover {
    background-color: styles.$btn-add-hover;
  }

  &:active {
    background-color: styles.$btn-add-active;
  }
}
