@use '../../styles' as *;

// BUTTONS DEFAULT
.btn {
  @include flex-center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  box-shadow: $btn-shadow-placeholder;

  &:hover,
  &:active {
    box-shadow: $btn-shadow;
  }
}

// BUTTONS SIZES
.btn-small {
  font-size: $font-default;
  padding: 16px 24px;
  border-radius: 8px;
}

.btn-medium {
  font-size: $font-medium;
  padding: 12px 16px;
  border-radius: 10px;
}

// BUTTONS COLORS
.btn-primary {
  background-color: $btn-primary-default;
  color: $btn-primary-txt;

  &:hover {
    background-color: $btn-primary-hover;
  }

  &:active {
    background-color: $btn-primary-active;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid $btn-secondary-default;

  &:hover {
    border: 1px solid $btn-secondary-hover;
    outline: 1px solid $btn-secondary-hover;
    color: $btn-secondary-hover;
  }

  &:active {
    border: 1px solid $btn-secondary-active;
    color: $btn-secondary-active;
    margin: 1px;
  }
}

.btn-add {
  background-color: $btn-add-default;
  color: $btn-add-txt;
  gap: 16px;

  &:hover {
    background-color: $btn-add-hover;
  }

  &:active {
    background-color: $btn-add-active;
  }
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: $btn-icon;
  background: none;
  border: none;
  cursor: pointer;

  .icon {
    width: 24px;
    height: 24px;
  }

  .btn-label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
      content: attr(data-text);
      display: block;
      font-weight: 700;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
    }
  }

  &:hover {
    font-weight: 700;
  }
}

.btn-close {
  width: 32px;
  height: 32px;
  color: $main-color;
  cursor: pointer;
}
