<div class="dialog-content" (click)="$event.stopPropagation()">
  <div class="header-section">
    <div class="header">
      @if (contact()) {
        <h2>Edit contact</h2>
      } @else {
        <h2>Add contact</h2>
        <p class="subheading">Tasks are better with a team!</p>
      }
    </div>
  </div>
  <div class="content-section">
    <button class="btn-close" (click)="closeDialog()">
      <svg class="icon-close">
        <use href="/assets/icons/icons.svg#cancel"></use>
      </svg>
    </button>

    <div class="input-wrapper">
      <app-user-avatar class="avatar" [user]="contact()" size="large"></app-user-avatar>

      <form class="form-section" [formGroup]="contactForm">
        <app-input-field label="Name" icon="person">
          <input type="text" formControlName="name" placeholder=" " />
        </app-input-field>

        <app-input-field label="Mail" icon="mail">
          <input type="text" formControlName="mail" placeholder=" " />
        </app-input-field>

        <app-input-field label="Phone" icon="phone">
          <input type="text" formControlName="phone" placeholder="" />
        </app-input-field>

        <div class="buttons-wrapper">
          @if (contact()) {
            <button class="btn btn-small btn-secondary">Delete</button>
            <button class="btn btn-small btn-primary">
              Save
              <svg class="icon">
                <use href="/assets/icons/icons.svg#check"></use>
              </svg>
            </button>
          } @else {
            <button class="btn btn-small btn-secondary" (click)="closeDialog()">
              Cancel
              <svg class="icon">
                <use href="/assets/icons/icons.svg#cancel"></use>
              </svg>
            </button>
            <button class="btn btn-small btn-primary">
              Create contact
              <svg class="icon">
                <use href="/assets/icons/icons.svg#check"></use>
              </svg>
            </button>
          }
        </div>
      </form>
    </div>
  </div>
</div>
