// * --- MAIN COLORS --- *
$main-blue: #2a3647;
$light-blue: #29abe2;
$petrol: #124658;
$medium-blue: #2a3d59;
$dark-blue: #091931;

$grey: #cdcdcd;
$light-grey: #d1d1d1;
$txt-dark: #000000;
$txt-light: #ffffff;
// * ------------------- *

// * --- ACCENT COLORS --- *
$error: #e60026;
$mail: #007cee;
// * --------------------- *

// * --- PRIORITIES --- *
$urgent: #ff3d00;
$medium: #ffa800;
$low: #7ae229;
// * ------------------ *
