/* ------------------------------------------------
            * --- COLORS --- *
------------------------------------------------ */
// * --- MAIN COLORS --- *
$main-blue: #2a3647;
$light-blue: #29abe2;
$petrol: #124658;
$medium-blue: #2a3d59;
$dark-blue: #091931;

$grey: #cdcdcd;
$light-grey: #d1d1d1;
$txt-dark: #000000;
$txt-light: #ffffff;
// * ------------------- *

// * --- ACCENT COLORS --- *
$error: #e60026;
$mail: #007cee;
// * --------------------- *

// * --- PRIORITIES --- *
$urgent: #ff3d00;
$medium: #ffa800;
$low: #7ae229;
// * ------------------ *

/* ------------------------------------------------
            * --- FONT SIZES --- *
------------------------------------------------ */

$subheading: clamp(1.25rem, calc(1.125rem + 0.625vw), 1.688rem);
$font-medium: clamp(1rem, calc(0.929rem + 0.357vw), 1.25rem);
$font-large: clamp(2.25rem, calc(2.054rem + 0.982vw), 2.938rem);
$font-xlarge: clamp(2.938rem, calc(2.634rem + 1.518vw), 4rem);
