<section class="sidebar">
  <div class="sidebar__logo"></div>
  <nav class="sidebar__nav">
    <a class="sidebar_nav--summ">
      svg
      <p>Summary</p>
    </a>
    <a class="sidebar_nav--add">
      svg
      <p>Add Task</p>
    </a>
    <a class="sidebar_nav--board">
      svg
      <p>Board</p>
    </a>
    <a class="sidebar_nav--contacts">
      svg
      <p>Contacts</p>
    </a>
  </nav>
  <div class="sidebar__imprint">
    <a class="sidebar__imprint--privacy">Privacy Policy</a>
    <a class="sidebar__imprint--legal">Legal Notice</a>
  </div>
</section>
