@if (selectedContact(); as contact) {
  <div class="detail-header">
    <app-user-avatar [user]="contact" size="large"></app-user-avatar>
    <div class="name-wrapper">
      <p class="name">{{ contact.firstname }} {{ contact.surname }}</p>
      <div class="btn-wrapper">
        <button class="btn-icon">
          <svg class="icon">
            <use href="/assets/icons/icons.svg#edit"></use>
          </svg>
          <span class="btn-label" data-text="Edit">Edit</span>
        </button>
        <button class="btn-icon" data-text="Delete">
          <svg class="icon">
            <use href="/assets/icons/icons.svg#delete"></use>
          </svg>
          <span class="btn-label" data-text="Delete">Delete</span>
        </button>
      </div>
    </div>
  </div>
  <p class="info-heading">Contact Information</p>
  <div class="detail-info">
    <strong>E-Mail</strong>
    <p class="mail">{{ contact.mail }}</p>
  </div>
  <div class="detail-info">
    <strong>Phone</strong>
    <p>{{ contact.phone }}</p>
  </div>
}
